@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Music App</h1>
    <br />
    <div class="modal-body">
        <h3> Keep track of all your favorite artists and albums!</h3>
    </div>
    <div class="well">
        <h4>What would you like to view?</h4>
        <a asp-action="Index" asp-controller="Albums" class="btn btn-lg btn-info">Go to Albums</a>
        <a asp-action="Index" asp-controller="Genres" class="btn btn-lg btn-info">Go to Genres</a>
        <a asp-action="Index" asp-controller="Artists" class="btn btn-lg btn-info">Go to Artists</a>
    </div>
</div>
