@model IEnumerable<MusicApp2017.Models.Genre>

@{
    ViewData["Title"] = "Index";
}

<h2>Genre Index</h2>

<p>
    <a class="btn btn-info" asp-action="Create">Create New Genre</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.GenreID">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.GenreID">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
